@model ProjetoAgili.Models.IngredientesModel

@{
    Layout = "../Layout/RestaurantIndex.cshtml";
}


<div class="content-wrapper" style="overflow:hidden;">
    <section class="content-header">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Inserir Ingrediente</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("EditIngredient", "Restaurant", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.IdIngrediente)
                @Html.HiddenFor(x => x.IdRestaurant)

                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome</label>
                        <div class="col-sm-10">
                            @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                            @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", placeholder = "Nome" })
                            <br />
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Editar</button>
                </div>
                <!-- /.box-footer -->
            }
        </div>
    </section>
</div>

