@model ProjetoAgili.Users

@{
    ViewBag.Title = "Login";
    Layout = "";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AgiliFood</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../Content/dist/css/AdminLTE.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page" style="background-image: url('http://hdwallpapersbuzz.com/wp-content/uploads/2017/03/food-wallpaper-images-24-1.jpg'); background-size: cover; height: 100%; overflow: hidden;">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Ágili</b>Food</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body" style="border-radius:4px;">
            <p class="login-box-msg">Entre com seu email e senha</p>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group has-feedback">
                    @*<input type="email" class="form-control" placeholder="Email">*@
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @*<input type="password" class="form-control" placeholder="Senha">*@
                    @Html.PasswordFor(a => a.Password, new { @class = "form-control", placeholder = "Senha" })
                    @Html.ValidationMessageFor(a => a.Password)
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <br />
            @*<a href="/Home/Register" class="text-center">Registre-se</a>*@
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="../../Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../../Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
