@model ProjetoAgili.Models.ShowOrdersModel

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    @Html.Partial("../Users/Partials/_HeaderJSPartial")


</head>

<body>

    @Html.Partial("../Users/Partials/_HeaderPartial")

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row">


                    <div class="checkbox" style="margin-left:1%;">
                        <label class="checkbox checkbox-custom mr-10">
                            <input type="checkbox" id="checkFiltros" onclick="calc()"><i></i> Filtros
                        </label>
                    </div>
                    <div id="mostrarFiltros" class="mostrarFiltros" hidden>
                        <div class="tile-body">


                            @using (Html.BeginForm("ShowOrdersByMonth", "Users", FormMethod.Post, new { @class = "form-inline", @style = "width: 40%;" }))
                            {
                                @Html.HiddenFor(model => model.IdUser)
                                @Html.HiddenFor(model => model.lista)
                                        
                            <div class="col-sm-10">
                                @Html.DropDownListFor(x => x.IdMes, new SelectList(ViewBag.Meses, "ID", "Name"), new { @class = "form-control" })
                                <button type="submit" class="btn btn-default">Filtrar</button>
                                @Html.ActionLink("Limpar", "ShowOrders", "Users", new { @class = "btn btn-default"})
                                <br />
                            </div>
                        }


                    </div>
                    </div>

                    <script>
                        function calc() {
                            if (document.getElementById('checkFiltros').checked) {
                                $('.mostrarFiltros').show();

                            } else {
                                $('.mostrarFiltros').hide();
                            }
                        }
                    </script>

                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped" style="width: 97%;">
                            <thead>
                                <tr>
                                    <th>Prato</th>
                                    <th>Restaurante</th>
                                    <th>Data</th>
                                    <th>Preço</th>
                                    @*<th>Imprimir</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lista)
                                {
                                    <tr id="@item.IdPedido">
                                        <td>@item.DishName</td>
                                        <td>@item.RestaurantName</td>
                                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Price</td>
                                        @*<td><a href="@Url.Action("PrintReport", "Users", new { id = @item.IdUser })" class="btn-success btn-sm">Imprimir</a></td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <h4 style="margin-left:5%;"><b>TOTAL: R$</b>@Model.Total</h4>

                </div>
            </div>

            @Html.Partial("../Users/Partials/_FooterPartial")

        </div>
    </section>


    <div id="gotoTop" class="fa fa-angle-up hidden-md"></div>

    @Html.Partial("../Users/Partials/_FooterJSPartial")

</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
