@model ProjetoAgili.Models.RestaurantsModel

@{
    Layout = "../Layout/Index.cshtml";
}

<div class="content-wrapper" style="overflow:hidden;">
    <section class="content-header">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Editar Usuário</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("EditRestaurant", "Administrators", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.IdUser)

            <div class="box-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10">
                        @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Nome", style = "width: 40%;" })
                        <br />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Endereço</label>
                    <div class="col-sm-10">
                        @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                        @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control", placeholder = "Endereço", style = "width: 40%;" })
                        <br />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Teelefone</label>
                    <div class="col-sm-10">
                        @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Telefone", style = "width: 40%;" })
                        <br />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">Restaurante Habilitado?</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Enabled, new SelectList(ViewBag.Options, "Enabled", "Name"), new { @class = "form-control", @style = "width: 20%;" })
                        <br />
                    </div>
                </div>


            </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Editar</button>
                </div>
                <!-- /.box-footer -->
        }
        </div>
    </section>
</div>

